<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>瘋動畫</title>
    <style>
        body{
            background-color: black;
        }
        #menu{
            padding-top: 50px;
        }
        section{
            margin: 2%;
        }
        .img-area{
            
            max-width: 100%;
            margin: auto;
            
            overflow-x:scroll;
            white-space: nowrap;
        
        }

        .img-area::-webkit-scrollbar {
            width: 8px; /* 设置滚动条宽度 */
          }
          
          .img-area::-webkit-scrollbar-thumb {
            background-color: rgba(0, 0, 0, 0); /* 设置滚动条拖动部分背景为透明 */
          }
          
          .img-area:hover::-webkit-scrollbar-thumb {
            background-color: rgba(0, 0, 0, 0.8); /* 鼠标悬停时显示滚动条 */
          }

         
        .img-container{
            height: 270px;
            width: 267px;
            display: inline-block;
            
            text-align: center;
            
            margin:0px 5px;
            overflow: hidden;
        }

        .img-mask{
            background-color: rgb(50, 50, 50);
            height: 200px;
            width: 267px;
            overflow: hidden;
            
        }
        



        img{
            max-height: 100%;
            padding: auto;
            margin: auto;    
         
        }
        .img-from{
            transform: translate(0px, -50px);
            padding-right:10px;
            text-align:right;
            margin-bottom:-48px;
            color: rgba(255, 255, 255, 0.8);
            font-weight: bold;
            font-family: 'Roboto', sans-serif;
            text-shadow: 2px 2px 10px rgba(0, 0, 0, 1); /* 水平偏移量2px，垂直偏移量2px，模糊度4px，阴影颜色为半透明黑色 */
        }

        .img-title{
            color: aliceblue;
            text-align: center;
            padding: auto;
            
        }
        a{
            text-decoration: none;
            color: white;
        }
        h3{
            margin-top: -10px;
            font-size:x-large;
            color: aliceblue;
        }

        /*top -bar*/
        #top-bar{
            position: fixed;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 60px;
            background-color: rgba(50, 50, 50,0.9);
            z-index: 999;
        }
        .inline{
            display: inline-block;
        }
        .top-bar-item{
            margin: 0px 10px;
            color: aliceblue;
        }
        #top-bar-title{
            color:aliceblue;
            font-size: large;
            margin-right: 20px;
            
        }
        #search-icon{
            max-height: 100%;
            max-width: 100%;
            margin-right: 5px;
            
        }
        #search-block{
            height: 30px;
            margin: 0px 10px;
            float:right;
            margin-right: 25px;

        }

        #search-label{
            max-height: 100%;
            height: 100%;
        }
        #search-input{
            max-height: 100%;
            vertical-align: top;
            height: 80%;
            color: aliceblue;
            background-color: rgba(70, 70, 70,0.9);
        }

        /* Star CSS */
        .star-block{ /* Shift Star*/
            height:40px;
            
            transform:translate(0,-100px);
            margin-top:-100px;
            
            text-align:left;
            
            
        }
        .star-background{
            height:30px;
            width:30px;
            background-color:rgba(100,100,100,1);
            text-align:center;
            vertical-align:middle;
            border-radius:50%;
            margin-left:5px;
            z-index:1;
        }
        .star-img{
            height:20px;
            margin-top:5px;
            z-index:1;
        }
    </style>
</head>
<body>
    <div id="top-bar">

        <ul>
            <li id="top-bar-title" class="top-bar-item inline"> <a href="/">瘋動畫</a></li>
            <li class="top-bar-item inline"><a href="https://www.youtube.com/@AniOneAnime" target="_blank">Ani-One</a></li>
            <li class="top-bar-item inline"><a href="https://www.youtube.com/@MuseTW" target="_blank">Muse</a></li>
            <li class="top-bar-item inline"><a href="https://anime1.me/" target="_blank">Anime1</a></li>
            <li class="inline" id="search-block"><label id="search-label" class="inline" for="search-input"><a href="#" id="search-link"><img class="inline" id="search-icon" src="/search/public/search.svg"></a><input class="inline" id="search-input" type="text"></label></li>

        </ul>
    </div>
    <div id="menu">
        <section class="result-area">
            <h3 >我的最愛</h3>
            <div id="my-favorite" class="img-area">
                
                
                
            </div>
        </section>
        <section class="result-area">
            <h3 class="subTitle">熱門推薦</h3>
            <div id="hot" class="img-area">
                
                
                
            </div>
        </section>
        <section class="result-area">
            <h3 class="subTitle">最新</h3>
            <div id="new" class="img-area">
                
                
            </div>
        </section>
        <section class="result-area">
            <h3 class="subTitle">隨選</h3>
            <div id="random" class="img-area">
        
                
            </div>
            
        </section>
        <section class="result-area">
            <h3 class="subTitle">本週最佳</h3>
            <div id="week" class="img-area">
                
                
            </div>
        </section>
        <section class="result-area">
            <h3 class="subTitle">本月最佳</h3>
            <div id="month" class="img-area">
                
                
            </div>
        </section>
    </div>
    <script>
        const starUrl = "/public/star-full.svg";
        const noStarUrl = "/public/star-black.svg";

        const hotEle = document.getElementById('hot');
        const newEle = document.getElementById('new');
        const randomEle = document.getElementById('random');
        const weekEle = document.getElementById('week');
        const monthEle = document.getElementById('month');

        const myFavoriteEle = document.getElementById('my-favorite');

        // generate link of sub-title
        generateLinkOfSubTitle();
        
        //remove the link of random subtitle
        const randomLinkEle = document.getElementById('random-link');
        randomLinkEle.href = "";

        generateArticleChild(hotEle,'hot',30);
        generateArticleChild(newEle,'new',30);
        generateArticleChild(randomEle,'random',30);
        generateArticleChild(weekEle,'week',30);
        generateArticleChild(monthEle,'month',30);
        generateMyFavotite(myFavoriteEle);
        createSearchLink();

        //throttle for addListener

        fectchNoImg_throttle(1000);
        click_throttle(1000);
        //whenCloseWindow();
        recordThrottle(10000); // upload click and deal with Image Search

        // main func
        async function generateArticleChild(parentEle,apiType,num){
            function createStarElement(url){
                
                console.log(`<< createStarElement >>`);
                const starBlockEle = document.createElement('div');
                starBlockEle.className = "star-block";
                const starBackGroundEle = document.createElement('div');
                starBackGroundEle.className = "star-background";
                const starImageEle = document.createElement('img');
                starImageEle.className = "star-img";

                const data = JSON.parse( localStorage.getItem('starRecord') ); // {'url':...,'title':...,'imgUrl':,...},{...}
                
                if (!data || data.length === 0){
                    console.log(`data is null`);
                    starImageEle.src = noStarUrl;

                    
                }else {
                    console.log(`is star : \n ${JSON.stringify( data)}`);
                    const urls = Array.from( data ).map(ele => ele.url);
                    if (urls.includes(url)){
                        console.log("update star");
                        starImageEle.src = starUrl;
                    }else{
                        starImageEle.src = noStarUrl;
                    }
                }

                //starBlockEle.addEventListener('click', toggleStar);

                starBackGroundEle.appendChild(starImageEle);
                starBlockEle.appendChild(starBackGroundEle);

                return starBlockEle;
            };
            
            function urlListener(element){
                element.addEventListener('click',(event)=>{
                    event.preventDefault();
                    const currentNode = event.target;
                    console.log(`url trigger is ${currentNode.outerHTML}`);

                    
                    
                    
                    if (currentNode.matches(".star-img")){
                        console.log("star block triggers ");
                        toggleStar(currentNode.parentNode.parentNode.parentNode);   
                    }
                    else{
                        console.log(`create new web`);
                        window.open(element.href,'_blank'); // open new web
                    }
                    
                })
                return element;
            }

            const response = await fetch(`/api/${apiType}?num=${num}`);
            const data = await response.json();

            Array.from(data).forEach(async (ele) => {
                console.log(ele);
                const articleEle = document.createElement('article');
                articleEle.className = "img-container";
                var urlEle = document.createElement('a');
                urlEle.href = ele.url;
                urlEle.target = "_blank";
                urlEle['data-click'] = false; //是否被點擊過
                urlEle['data-img'] = (ele.imgUrl)? ele.imgUrl: '';   //imgUrl 
                urlEle['data-title'] = ele.title;
                urlEle['data-date'] = ele.date;
                urlEle['data-from'] = ele.from;
                urlEle = urlListener(urlEle);
                
                //counter( urlEle ); // click計數
                const imgMaskEle = document.createElement('div');
                imgMaskEle.className = "img-mask";
                const imgEle = document.createElement('img');
                imgEle.src = (ele.imgUrl)? ele.imgUrl: 'https://st4.depositphotos.com/14953852/24787/v/450/depositphotos_247872612-stock-illustration-no-image-available-icon-vector.jpg';
                const fromEle = document.createElement('p');
                fromEle.className = "img-from";
                fromEle.textContent = ele.from;
                const titleEle = document.createElement('p');
                titleEle.textContent = ele.title;
                titleEle.className = "img-title";
                const starBlockEle = createStarElement(ele.url);
                

                imgMaskEle.appendChild(imgEle); //like this : <article class="img-container"><a href="#"><div class="img-mask"><img src="imgUrl"></div><p class="img-title">Name</p></a></article>
                imgMaskEle.appendChild(starBlockEle);
                urlEle.appendChild(imgMaskEle);
                urlEle.appendChild(fromEle);
                urlEle.appendChild(titleEle);
                
                articleEle.appendChild(urlEle);
                //articleEle.appendChild(starBlockEle);
                parentEle.appendChild(articleEle);
            });
        };
        
        
        function generateLinkOfSubTitle(){ //add Link to subTitle, like hot, new, ....
          

            const resultEles = document.getElementsByClassName('result-area');
            console.log(`resultEles : ${resultEles}`);
            Array.from(resultEles).forEach((ele) => {
                console.log(`ele : \n${ele}`);
                const titleEle = ele.firstElementChild;
                const imgAreaEle = ele.firstElementChild.nextElementSibling;
                const apiSegment = imgAreaEle.id;
                const encodeTitle = encodeURIComponent( titleEle.textContent );
                const linkEle = document.createElement('a');

                const new_titleEle = titleEle.cloneNode(true);
                linkEle.href = `/showallpage/${apiSegment}/${encodeTitle}`;
                linkEle.id = `${apiSegment}-link`;
                linkEle.appendChild(new_titleEle);

                ele.insertAdjacentElement('afterbegin',linkEle); // add new element
                ele.removeChild(ele.firstChild.nextElementSibling); // remove old element

                console.log(`titleEle : ${titleEle}`);
                console.log(`imgAreaEle : ${imgAreaEle}`);
                console.log(`apiSegment : ${apiSegment}`);

            });

            
        };

        // generate My Favorite
        async function generateMyFavotite(parentEle){
            function createStarElement(url){
                
                console.log(`<< createStarElement >>`);
                const starBlockEle = document.createElement('div');
                starBlockEle.className = "star-block";
                const starBackGroundEle = document.createElement('div');
                starBackGroundEle.className = "star-background";
                const starImageEle = document.createElement('img');
                starImageEle.className = "star-img";

                const data = JSON.parse( localStorage.getItem('starRecord') ); // {'url':...,'title':...,'imgUrl':,...},{...}
                
                if (!data || data.length === 0){
                    console.log(`data is null`);
                    starImageEle.src = noStarUrl;

                    
                }else {
                    console.log(`is star : \n ${JSON.stringify( data)}`);
                    const urls = Array.from( data ).map(ele => ele.url);
                    if (urls.includes(url)){
                        console.log("update star");
                        starImageEle.src = starUrl;
                    }else{
                        starImageEle.src = noStarUrl;
                    }
                }

                //starBlockEle.addEventListener('click', toggleStar);

                starBackGroundEle.appendChild(starImageEle);
                starBlockEle.appendChild(starBackGroundEle);

                return starBlockEle;
            };
            
            function urlListener(element){
                element.addEventListener('click',(event)=>{
                    event.preventDefault();
                    const currentNode = event.target;
                    console.log(`url trigger is ${currentNode.outerHTML}`);

                    
                    
                    
                    if (currentNode.matches(".star-img")){
                        console.log("star block triggers ");
                        toggleStar(currentNode.parentNode.parentNode.parentNode);   
                    }
                    else{
                        console.log(`create new web`);
                        window.open(element.href,'_blank'); // open new web
                    }
                    
                })
                return element;
            }
            
            const data = JSON.parse( localStorage.getItem('starRecord'));
            if (!data || data.length === 0){
                console.log(`My Favorite is null`);
                parentEle.textContent = `請按星號將播放清單加入我的最愛`;
                parentEle.style.color = "rgba(255,255,255,0.8)";
                parentEle.style.paddingLeft = "10px";
                return;
            }

            Array.from(data).forEach(async (ele) => {
                console.log(ele);
                const articleEle = document.createElement('article');
                articleEle.className = "img-container";
                var urlEle = document.createElement('a');
                urlEle.href = ele.url;
                urlEle.target = "_blank";
                urlEle['data-click'] = false; //是否被點擊過
                urlEle['data-img'] = (ele.imgUrl)? ele.imgUrl: '';   //imgUrl 
                urlEle['data-title'] = ele.title;
                urlEle['data-date'] = ele.date;
                urlEle['data-from'] = ele.from;
                urlEle = urlListener(urlEle);
                
                //counter( urlEle ); // click計數
                const imgMaskEle = document.createElement('div');
                imgMaskEle.className = "img-mask";
                const imgEle = document.createElement('img');
                imgEle.src = (ele.imgUrl)? ele.imgUrl: 'https://st4.depositphotos.com/14953852/24787/v/450/depositphotos_247872612-stock-illustration-no-image-available-icon-vector.jpg';
                const fromEle = document.createElement('p');
                fromEle.className = "img-from";
                fromEle.textContent = ele.from;
                const titleEle = document.createElement('p');
                titleEle.textContent = ele.title;
                titleEle.className = "img-title";
                const starBlockEle = createStarElement(ele.url);
                

                imgMaskEle.appendChild(imgEle); //like this : <article class="img-container"><a href="#"><div class="img-mask"><img src="imgUrl"></div><p class="img-title">Name</p></a></article>
                imgMaskEle.appendChild(starBlockEle);
                urlEle.appendChild(imgMaskEle);
                urlEle.appendChild(fromEle);
                urlEle.appendChild(titleEle);
                
                articleEle.appendChild(urlEle);
                //articleEle.appendChild(starBlockEle);
                parentEle.appendChild(articleEle);
            });
        };
  

        // star ///////////////////////////
        function toggleStar(element){
            
            //const completeNoStarUrl = "https://" + window.location.hostname + noStarUrl;
            //const completeStarUrl = "https://" + window.location.hostname + starUrl;
            
            const imgMaskEle = element;
            const aLinkEle = imgMaskEle.parentNode;

            const newData = {
                'url':aLinkEle.href,
                'title':aLinkEle['data-title'],
                'imgUrl':aLinkEle['data-img'],
                'date':aLinkEle['data-date'],
                'from':aLinkEle['data-from']
            }

            const currentStar = element.firstElementChild.nextElementSibling.firstElementChild.firstElementChild;
            const currentStarUrlObj = new URL( currentStar.src, window.location.origin);
            const currentStarUrl = currentStarUrlObj.pathname;

            var data = (JSON.parse( localStorage.getItem("starRecord") ))? JSON.parse( localStorage.getItem("starRecord") ) : [];

            console.log(`original data : \n ${data}`);
            const dataUrls = Array.from(data).map(ele => ele.url);

            console.log(`toggle star src : ${currentStar.src}`);
            if (!currentStar.src){
                return;
            }
            
            if ( currentStarUrl === noStarUrl){
                
                if (dataUrls.length === 0 || !dataUrls.includes(newData.url)){
                    data = Array.from(data);
                    data.push(newData);
                }
                currentStar.src = starUrl;
                console.log(`become star`);
            }else{
                console.log(`delete star`);
                data = Array.from(data).filter(ele => ele.url !== newData.url);
                
                currentStar.src = noStarUrl;
            }
            console.log(`final star data : \n ${data}`);

            localStorage.setItem("starRecord", JSON.stringify(data));
            
            
        }

        
        // throttle function
        function fectchNoImg_throttle(delay){ 
            const menuEle = document.getElementById('menu');
            const fetchImg = throttle((element)=>{
                // Search image through google api
                try{
                    
                    if (element.hasAttribute('href') && !element['data-click'] && !element['data-img']  ){
                        console.log(`fetch No img : ${element.href}`);
                        const url = element.href;
                        const title = element['data-title'];

                        //const imgUrl = element['data-img'];

                        const newData = {
                            [url]: title
                        };


                        //get data from disk
                        const clickData = JSON.parse( localStorage.getItem('no-img'));
                        console.log(`no-img data is ${JSON.stringify( clickData )}`);
                        if (!clickData){
                            localStorage.setItem('no-img', JSON.stringify(newData));
                        }else{
                            clickData[url] = newData[url];
                            localStorage.setItem('no-img', JSON.stringify(clickData));
                        }

                    }
                }catch(err){
                    console.log(`Error Search image through google api \n : ${err}`);

                }


            }, delay );
            menuEle.addEventListener('click', (event)=>{
                
                const clickedEle = event.target;
                const linkEle = clickedEle.parentNode.parentNode;
                //console.log(`clicked menu element is ${clickedEle.parentNode.parentNode['data-img']}`);  
                fetchImg(linkEle); 
            });

        }

        function click_throttle(delay){ 
            const menuEle = document.getElementById('menu');
            const fetchImg = throttle((element)=>{
                // Search image through google api  
                try{
                    if (element.hasAttribute('href') && !element['data-click'] ){
                        console.log(`click url is ${element.href}`);     
                        element['data-click'] = true;
                        const nowDate = new Date();
                        const nowUrl = element.href;
                        
                        const newData = {       // In localStorage, {'click':  {'http1':[date1,date2], 'http2': [date1,date2] } }
                            [nowUrl] : nowDate,
                        };

                        //get data from disk
                        const clickData = JSON.parse( localStorage.getItem('click'));
                        console.log(`click data is ${JSON.stringify( clickData )}`);
                         // save data
                        if (!clickData ){
                            // save single data
                            localStorage.setItem('click',JSON.stringify( newData ));
                        }else {

                            if (clickData.hasOwnProperty(nowUrl)){
                                clickData[nowUrl] = [...clickData[nowUrl], nowDate];
                                localStorage.setItem('click',JSON.stringify( clickData ));
                            }else{
                                clickData[nowUrl] = [ nowDate];
                                localStorage.setItem('click',JSON.stringify( clickData ));
                            }
                        
                        }
                        
                    }
                    
                }catch(err){
                    console.log(`count Err \n : ${err}`);
                }


            }, delay );
            menuEle.addEventListener('click', (event)=>{
                
                const clickedEle = event.target;
                const linkEle = clickedEle.parentNode.parentNode;
                //console.log(`clicked menu element is ${clickedEle.parentNode.parentNode['data-img']}`);  
                fetchImg(linkEle); 
            });

        }

        function recordThrottle(delay){
            const recordRun = throttle(()=>{
                
                const clickData = JSON.parse( localStorage.getItem('click') );
                const noImgData = JSON.parse( localStorage.getItem('no-img') );
                
                // fetch click
                if (clickData){
                    var params = new URLSearchParams(clickData);               //application/x-www-form-urlencoded 需要這樣才不會出錯  
                    var response = fetch('/api/count',{
                        method:'POST',
                        headers:{
                            Accept:'application/json',
                            'Content-Type' : 'application/x-www-form-urlencoded'
                        },
                        body:params
                    });
                }
                

                //fetch No image
                if (noImgData){
                    params = new URLSearchParams(noImgData);               //application/x-www-form-urlencoded 需要這樣才不會出錯  
                    response = fetch('/api/imgUrlSearch',{
                        method:'POST',
                        headers:{
                            Accept:'application/json',
                            'Content-Type' : 'application/x-www-form-urlencoded'
                        },
                        body:params
                    });
                }
                localStorage.removeItem('no-img'); //clear history
                localStorage.removeItem('click');
            },delay); // ms

            const menuEle = document.getElementById('menu');
            menuEle.addEventListener('click', ()=>{
                recordRun();
            });
        }

        function createSearchLink(){

            const searchInputEle = document.getElementById('search-input');
            const searchLinkEle = document.getElementById('search-link');
            searchLinkEle.addEventListener('click',()=>{
                
                const keyword = encodeURIComponent( searchInputEle.value);
                console.log(`Search ${searchInputEle.value}`);
                window.location.href = `/search/searchpage/${keyword}`;
            });
        };

        function throttle(func, limit) {
            let inThrottle;
            return function(...args) {
              const context = this;
              if (!inThrottle) {
                func.apply(context, args);
                inThrottle = true;
                setTimeout(() => inThrottle = false, limit);
              }
            };
          }
          
    </script>
</body>